@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  margin: 4rem 5rem;
  box-shadow: 10px 10px 5px #dcdcdc;
}

.nav a {
  text-decoration: none;
  margin-left: 2.5rem;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 900;
  color: #87ceeb;
  margin-right: 5rem;
}

.nav-logo:hover {
  color: #71a7bd;
}

.nav-items {
  cursor: pointer;
  margin-right: 2rem;
  font-size: 1rem;
  color: #000;
}

.nav-items a {
  color: #000;
}

.singleBook {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 1rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-title {
  font-weight: 900;
}

.book-author {
  color: #87ceeb;
  font-weight: 300;
}

.book-category {
  color: #857979;
  font-weight: 500;
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputbook {
  display: flex;
  flex-wrap: wrap;
}

.label {
  display: none;
}

.input-book {
  width: 35rem;
  margin: 1rem;
}

.input {
  width: 17rem;
  margin: 1rem;
}

.book-tools {
  display: flex;
}

.book-tools :nth-child(2) {
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding: 0 1rem;
}

.tools {
  cursor: pointer;
  color: #87ceeb;
  margin-right: 1rem;
}


